{
  "openapi": "3.0.0",
  "info": {
    "title": "Team CalTalk API",
    "description": "Team CalTalk은 팀 단위의 캘린더 일정 관리와 실시간 채팅을 결합한 협업 플랫폼의 API 명세서입니다.\n\n### 실시간 통신 (WebSocket)\n- **실시간 채팅 및 알림**: `Socket.io`를 사용하여 실시간 메시지 송수신 및 일정 변경 알림을 처리합니다.\n- **네임스페이스**: `/chats`, `/notifications`\n- **주요 이벤트**:\n  - `chat:message`: 새로운 메시지 수신\n  - `schedule:updated`: 팀 일정이 변경됨\n  - `request:status_changed`: 일정 변경 요청 상태 변경",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.caltalk.team/v1",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid", "example": "550e8400-e29b-41d4-a716-446655440000" },
          "email": { "type": "string", "format": "email", "example": "user@example.com" },
          "name": { "type": "string", "example": "홍길동" },
          "theme": { "type": "string", "enum": ["LIGHT", "DARK"], "default": "LIGHT" },
          "language": { "type": "string", "enum": ["KO", "EN"], "default": "KO" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string", "example": "개발 1팀" },
          "invite_code": { "type": "string", "minLength": 6, "maxLength": 6, "example": "A1B2C3" },
          "leader_id": { "type": "string", "format": "uuid" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "TeamMember": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "team_id": { "type": "string", "format": "uuid" },
          "user_id": { "type": "string", "format": "uuid" },
          "role": { "type": "string", "enum": ["LEADER", "MEMBER"] },
          "joined_at": { "type": "string", "format": "date-time" },
          "user": { "$ref": "#/components/schemas/User" }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "team_id": { "type": "string", "format": "uuid" },
          "title": { "type": "string", "example": "주간 회의" },
          "description": { "type": "string", "example": "스프린트 리뷰 및 계획" },
          "start_time": { "type": "string", "format": "date-time" },
          "end_time": { "type": "string", "format": "date-time" },
          "schedule_date": { "type": "string", "format": "date", "example": "2024-05-20" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Chat": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "team_id": { "type": "string", "format": "uuid" },
          "user_id": { "type": "string", "format": "uuid" },
          "message": { "type": "string", "example": "오늘 회의 시간 변경 가능한가요?" },
          "chat_date": { "type": "string", "format": "date" },
          "created_at": { "type": "string", "format": "date-time" },
          "user": { "$ref": "#/components/schemas/User" }
        }
      },
      "ChangeRequest": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "schedule_id": { "type": "string", "format": "uuid" },
          "requester_id": { "type": "string", "format": "uuid" },
          "team_id": { "type": "string", "format": "uuid" },
          "content": {
            "type": "object",
            "description": "변경 요청 상세 내용 (예: 변경될 시간, 제목 등)",
            "example": { "start_time": "2024-05-20T11:00:00Z", "reason": "타 회의 중복" }
          },
          "status": { "type": "string", "enum": ["PENDING", "APPROVED", "REJECTED"], "default": "PENDING" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "example": "UNAUTHORIZED" },
          "message": { "type": "string", "example": "로그인이 필요합니다." }
        }
      }
    }
  },
  "paths": {
    "/auth/register": {
      "post": {
        "tags": ["Auth"],
        "summary": "회원가입",
        "description": "새로운 사용자를 등록하고 액세스 토큰을 발급합니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password", "name"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string", "minLength": 8 },
                  "name": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "가입 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": { "$ref": "#/components/schemas/User" },
                    "token": { "type": "string", "description": "JWT Access Token" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "로그인",
        "description": "이메일과 비밀번호로 로그인하여 토큰을 발급받습니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "로그인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": { "$ref": "#/components/schemas/User" },
                    "token": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "security": [{ "BearerAuth": [] }],
        "tags": ["Auth"],
        "summary": "로그아웃",
        "description": "현재 세션을 종료하고 토큰을 무효화합니다.",
        "responses": {
          "204": { "description": "로그아웃 성공" },
          "401": { "description": "인증 실패" }
        }
      }
    },
    "/teams": {
      "get": {
        "security": [{ "BearerAuth": [] }],
        "tags": ["Teams"],
        "summary": "내가 속한 팀 목록 조회",
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Team" }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [{ "BearerAuth": [] }],
        "tags": ["Teams"],
        "summary": "팀 생성",
        "description": "새로운 팀을 생성합니다. 생성자는 자동으로 팀장이 됩니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string", "example": "새 프로젝트 팀" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Team" } } }
          }
        }
      }
    },
    "/teams/join": {
      "post": {
        "security": [{ "BearerAuth": [] }],
        "tags": ["Teams"],
        "summary": "초대 코드로 팀 가입",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["invite_code"],
                "properties": {
                  "invite_code": { "type": "string", "example": "A1B2C3" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "가입 성공",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Team" } } }
          },
          "404": { "description": "초대 코드를 찾을 수 없음" }
        }
      }
    },
    "/teams/{teamId}/members": {
      "get": {
        "security": [{ "BearerAuth": [] }],
        "tags": ["Teams"],
        "summary": "팀 멤버 목록 조회",
        "parameters": [
          { "name": "teamId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/TeamMember" }
                }
              }
            }
          }
        }
      }
    },
    "/schedules": {
      "get": {
        "security": [{ "BearerAuth": [] }],
        "tags": ["Schedules"],
        "summary": "일정 목록 조회",
        "description": "월/주/일 단위 조회를 위해 기간(start_date ~ end_date)을 필터로 사용합니다.",
        "parameters": [
          { "name": "teamId", "in": "query", "schema": { "type": "string", "format": "uuid" }, "description": "특정 팀의 일정만 조회 (생략 시 소속된 모든 팀)" },
          { "name": "start_date", "in": "query", "required": true, "schema": { "type": "string", "format": "date" }, "description": "시작 날짜 (YYYY-MM-DD)" },
          { "name": "end_date", "in": "query", "required": true, "schema": { "type": "string", "format": "date" }, "description": "종료 날짜 (YYYY-MM-DD)" }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Schedule" }
                }
              }
            }
          }
        }
      }
    },
    "/teams/{teamId}/schedules": {
      "post": {
        "security": [{ "BearerAuth": [] }],
        "tags": ["Schedules"],
        "summary": "일정 생성 (팀장 전용)",
        "parameters": [
          { "name": "teamId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "start_time", "end_time", "schedule_date"],
                "properties": {
                  "title": { "type": "string" },
                  "description": { "type": "string" },
                  "start_time": { "type": "string", "format": "date-time" },
                  "end_time": { "type": "string", "format": "date-time" },
                  "schedule_date": { "type": "string", "format": "date" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Schedule" } } }
          },
          "403": { "description": "권한 없음 (팀장만 가능)" }
        }
      }
    },
    "/schedules/{scheduleId}": {
      "patch": {
        "security": [{ "BearerAuth": [] }],
        "tags": ["Schedules"],
        "summary": "일정 수정 (팀장 전용)",
        "parameters": [
          { "name": "scheduleId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "description": { "type": "string" },
                  "start_time": { "type": "string", "format": "date-time" },
                  "end_time": { "type": "string", "format": "date-time" },
                  "schedule_date": { "type": "string", "format": "date" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Schedule" } } }
          }
        }
      },
      "delete": {
        "security": [{ "BearerAuth": [] }],
        "tags": ["Schedules"],
        "summary": "일정 삭제 (팀장 전용)",
        "parameters": [
          { "name": "scheduleId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "204": { "description": "삭제 성공" }
        }
      }
    },
    "/teams/{teamId}/chats": {
      "get": {
        "security": [{ "BearerAuth": [] }],
        "tags": ["Chats"],
        "summary": "일자별 채팅 이력 조회",
        "description": "해당 날짜에 기록된 이전 대화 내역을 가져옵니다.",
        "parameters": [
          { "name": "teamId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "date", "in": "query", "required": true, "schema": { "type": "string", "format": "date" }, "description": "조회할 날짜 (YYYY-MM-DD)" }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Chat" }
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "security": [{ "BearerAuth": [] }],
        "tags": ["Users"],
        "summary": "내 프로필 정보 조회",
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/User" } } }
          }
        }
      }
    },
    "/users/me/settings": {
      "patch": {
        "security": [{ "BearerAuth": [] }],
        "tags": ["Users"],
        "summary": "개인 설정 업데이트 (테마, 언어)",
        "description": "사용자의 UI 테마와 언어 설정을 서버에 저장하여 동기화합니다.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "theme": { "type": "string", "enum": ["LIGHT", "DARK"] },
                  "language": { "type": "string", "enum": ["KO", "EN"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "업데이트 성공",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/User" } } }
          }
        }
      }
    },
    "/teams/{teamId}/change-requests": {
      "get": {
        "security": [{ "BearerAuth": [] }],
        "tags": ["ChangeRequests"],
        "summary": "팀 내 일정 변경 요청 목록 조회 (팀장 전용)",
        "parameters": [
          { "name": "teamId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["PENDING", "APPROVED", "REJECTED"] }, "description": "상태별 필터" }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ChangeRequest" }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [{ "BearerAuth": [] }],
        "tags": ["ChangeRequests"],
        "summary": "일정 변경 요청 생성 (팀원)",
        "description": "팀원들이 채팅창에서 팀장에게 일정 변경을 공식적으로 요청합니다.",
        "parameters": [
          { "name": "teamId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["schedule_id", "content"],
                "properties": {
                  "schedule_id": { "type": "string", "format": "uuid" },
                  "content": {
                    "type": "object",
                    "description": "변경 제안 사항 (JSONB)",
                    "example": { "new_start_time": "2024-05-21T10:00:00Z", "reason": "개인 사정" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "요청 생성됨",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChangeRequest" } } }
          }
        }
      }
    },
    "/change-requests/{requestId}": {
      "patch": {
        "security": [{ "BearerAuth": [] }],
        "tags": ["ChangeRequests"],
        "summary": "일정 변경 요청 처리 (승인/반려) (팀장 전용)",
        "parameters": [
          { "name": "requestId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status"],
                "properties": {
                  "status": { "type": "string", "enum": ["APPROVED", "REJECTED"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "처리 완료",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChangeRequest" } } }
          }
        }
      }
    }
  }
}
